<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.neoemf.graph.NeoEMFModel"
            dialog="org.eclipse.epsilon.emc.neoemf.dt.NeoEMFModelConfigurationDialog"
            icon="icons/neoemf.png"
            label="NeoEMF Model"
            type="neoemf">
      </modelType>
   </extension>

</plugin>
