<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.neoemf.graph.NeoEMFModel"
            dialog="org.eclipse.epsilon.emc.neoemf.graph.dt.NeoEMFModelConfigurationDialog"
            icon="icons/ecorefile.gif"
            label="NeoEMF/Graph Model"
            type="neoemf-graph">
      </modelType>
   </extension>

</plugin>
